.w-250{
    width: 250px;
}
.w-fit{
    width: fit-content;
}
.w-300{
    width: 300px;
}
.w-100px{
    width: 100px;
}
.h-100px{
    height: 100px;
}
.w-120{
    width: 120px;
}
.h-120{
    height: 120px;
}
.w-100-p{
    width: 100%;
}
.w-full{
    width: 100%;
}
.h-100-p{
    width: 100%;
}
.gap-20{
    gap: 20px;
}
.w-28{
    width: 28px;
}
.w-img-48{
    width: 48px;
}
.h-img-48{
    height: 48px;
}
.w-15{
    width: 15px;
}
.w-32{
    width: 32px;
}
.w-35{
    width: 35px;
}
.h-32{
    height: 32px;
}
.h-35{
    height: 35px;
}
.h-auto{
    height: auto;
}
.h-300{
    height: 300px;
}
.h-15{
    height: 15px;
}
.w-160{
    width: 160px;
}
.w-50{
    width: 50px;
}
.h-50{
    height: 50px;
}
.op-1{
    opacity: 0.1;
}
.h-28{
    height: 28px;
}
.w-img-30{
    width: 40px;
}
.h-100{
    height: 100vh;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 18px;
    width: 35px;
    height: 35px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.p-5{
    padding: 5px;
}
.p-0{
    padding: 0;
}
.pb-0{
    padding-bottom: 0;
}
.p-10{
    padding: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pt-10{
    padding-top: 10px;
}
.pt-5{
    padding-top: 5px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.mb-5{
    margin-bottom: 5px;
}
.pb-5{
    padding-bottom: 5px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mr-10{
    margin-right: 10px;
}
.m-20{
    margin: 20px;
}
.mr-15{
    margin-right: 15px;
}
.mr-5{
    margin-right: 5px;
}
.mr-2{
    margin-right: 2px;
}
.mr-20{
    margin-right: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-0{
    margin: 0;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-18{
    margin-left: 18px;
}
.ml-35{
    margin-left: 35px;
}
.ml-25{
    margin-left: 25px;
}
.ml-15{
    margin-left: 15px;
}
.ml-5{
    margin-left: 5px;
}
.m-0{
    margin: 0;
}
.m-15{
    margin: 15px;
}
.m-auto-bottom{
    margin: 15px auto 15px 0;
}
.m-auto-top{
    margin: 15px 0 15px auto;
}
.btn-shape{
    padding: 4px 10px;
}
.m-auto{
    margin: 0px 0 15px auto;
}
.pb-0{
    padding-bottom: 0;
}
.pb-29{
    padding-bottom: 29px;
}
.pb-27{
    padding-bottom: 27px;
}
.pb-25{
    padding-bottom: 25px;
}
.pb-32{
    padding-bottom: 32px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.pl-15{
    padding-left: 15px;
}
.pl-10{
    padding-left: 10px;
}
.pr-10{
    padding-right: 10px;
}
.outline-none{
    outline: none;
}
.capitalize{
    text-transform: capitalize;
}
.line-height-1-8{
    line-height: 1.8;
}
.t-align{
    text-align: center;
    justify-content: center;
}
.t-align-start{
    text-align: start;
}
.t-align-end{
    text-align: end;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
    display: flex;
    align-items: center;
}
.t-align-start{
    text-align: start;
}
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-50{
    border-radius: 50%;
}
.border{
    border: 1px solid #ccc;
}
.border-none{
    border: none;
}
.border-photo{
    border: 2px solid #ffffff;
}
.border-top{
    border-top: 1px solid #eee;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
.bor-left-blue{
    border-left: 2px solid #0075ff;
}
.bor-left-green{
    border-left: 2px solid #22c55e;
}
.bor-left-orange{
    border-left: 2px solid #f59e0b;
}
.bor-left-red{
    border-left: 2px solid #f44336;
}
.col-black{
    color: black;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.tx-c{
    text-align: center;
}
.h-50{
    height: 50px;
}
.fa-13{
    font-size: 13px;
}
.fa-18{
    font-size: 18px;
}
.fa-15{
    font-size: 15px;
}
.fa-14{
    font-size: 14px;
}
.fa-24{
    font-size: 24px;
}
.fa-2{
    font-size: 2em;
}
.fa-lg{
    font-size: 21px;
}
.fa-we{
    font-weight: normal;
}
.fa-bold{
    font-weight: bold;
}
.font-bold{
    font-weight: bold;
}
.fa-em{
    font-size: 1.6em;
}
.fa-28{
    font-size: 29px;
}
.flex-1{

    flex: 1;
}
.flex-g{
    flex-grow: 2;
}
.t-align-right{
    text-align: right;
}
/*bg color*/
.bg-blue-light{
    background-color: rgb(0 117 255 / 20%)
}
.bg-red-light{
    background-color: rgb(244 67 54 / 20%)
}
.bg-blue{
    background-color: #0075ff;
}
.bg-grey{
    background-color: #f6f6f6;
}
.bg-grey2{
    background-color: #eee;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.bg-orange-light{
    background-color: rgb(245 158 11 / 20%);
}
.bg-orange{
    background-color: #f59e0b;
}
.bg-green{
    background-color: #22c55e ;
}
.bg-red{
    background-color: #f44336;
}
.bg-green-light{
    background-color:rgb(34 197 94 / 20%);
}
.bg-twitter{
    background-color: #1da1f2;
}
.bg-facebook{
    background-color:#1877f2;
}
.bg-instagram{
    background-color: #c13584;
}
.bg-youtube{
    background-color: #ff0000;
}
.bg-linkedin{
    background-color: #0077b5;
}
.bg-telegram{
    background-color: #1da1f2;
}
.bg-telegram-light{
    background-color: rgb(29 161 242 / 20%)
}
.bg-twitter-light{
    background-color: rgb(29 161 242 / 20%)
}
.bg-youtube-light{
    background-color: rgb(255 0 0 / 20%)
}
.bg-facebook-light{
    background-color: rgb(24 119 242 / 20%);
}
.bg-instagram-light{
    background-color: rgb(195 53 132 / 20%)
}
.bg-linkedin-light{
    background-color: rgb(0 119 181 / 20%)
}
/*end bg color*/
/*color*/
.c-blue{
    color: #0075ff;
}
.c-twitter{
    color: #1da1f2;
}
.c-facebook{
    color: #1da1f2;
}
.c-instagram{
    color: #c13584;
}
.c-youtube{
    color: #ff0000;
}
.c-linkedin{
    color: #0077b5;
}
.c-grey{
    color: #888;
}
.c-black{
    color: black;
}
.c-red{
    color: #f44336;
}
.c-orange{
    color: #f59e0b;
}
.c-green{
    color: #22c55e;
}
.c-white{
    color: white;
}
.c-yellow{
    color: #f59e0b;
}
/*end color*/
/*media*/
@media (max-width: 991px){
    .mobile-hid-photo{
        display: block;
    }
}